html, body {
	padding: 0;
	margin: 0;
	background-color: #DDD;
	min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.site-title {
	margin: 0 0 16px 0;
	font-size: 28px;
}